@use "../globals" as *;

html {
  scroll-behavior: smooth;
}

body {
  font-size: 100%; // => 16px
  // ページのheaderにリンクを貼って、CSSでフォントファミリーを指定する。
  // フォント・スタックで記述すること。
  // 英語の書体なら『Kameron』にマッチ、日本語の書体は、2番目の『Noto Sans JP』にマッチする。
  // 順に探していく仕様。
  font-family: "Noto Serif JP", serif;
}

.noto-serif-jp {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  &__ex-light {
    font-weight: 200;
  }
  &__regular {
    font-weight: 400;
  }
  &__bold {
    font-weight: 700;
  }
  &__black {
    font-weight: 900;
  }
}

.noto-sans-jp {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  &__ex-light {
    font-weight: 200;
  }
  &__regular {
    font-weight: 400;
  }
  &__bold {
    font-weight: 700;
  }
  &__black {
    font-weight: 900;
  }
}

#root.self-publishing-order {
  & .title-next-label {
    margin-left: .75em;
    font-weight: 900;
  }
  
  // image
  & img {
    // reset.cssで設定されているからトル
    // max-width: 100%;
    vertical-align: bottom;
  }
  
  & ul {
    padding: 0;
    li {
      list-style-type: none;
    }
  }
  
  & a {
    text-decoration: none;
  }
  
  & input, select, button {
    appearance: auto;
  }
  
  & select {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 2.5px 0;
    @include mq(lg) {
      padding: 2.5px 5px;
    }
  }
  
  & .send-button-wrapper {
    display: flex;
    gap: 1em;
    justify-content: center;
    margin: 1em 0;
  }
  & button:disabled {
    line-height: 1.2;
    background-color: rgba($color: $cTheme, $alpha: .4);
    &:hover {
      color: #fff;
      background-color: rgba($color: $cTheme, $alpha: .4);
      box-shadow: unset;
      transform: unset;
    }
  }
  & button {
    padding: .5em 1em;
    font-size: 1.05em;
    font-weight: 900;
    text-align: center;
    color: #fff;
    background-color: $cTheme;
    border: unset;
    border-radius: 5px;
    transition: .5s;
    &:hover {
      color: $cTheme;
      background-color: rgba($color: $cThemeLt, $alpha: .6);
      box-shadow: 3px 3px 6px #aaa;
      transform: translateY(-.25em);
    }
  }
  
  & .flex {
    display: flex;
    flex-direction: column;
    @include mq(md) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  
  & strong {
    font-size: .9em;
    color: $cThemeMd;
  }
}